.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0 0 3px gray;
    border-radius: 80%;
    position: relative;
}

.project img{
    width: 250px;
    height: 250px;
}

.overlay{
    position:absolute;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    opacity: 0;
}

.overlay:hover{
    opacity: 1;
    border-radius: 0;
    background-color: rgba(0,0,0,0.815);
    color: white;
    transition: all 0.3s;

}